{# templates/security/forgot_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-muted ms-2 mt-2">Forgot Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="login-container p-4 bg-light rounded">
                <form method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required autofocus placeholder="Enter your email">
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Send Password Reset Link</button>
                    </div>

                    <div class="mt-3 text-center">
                        <a href="{{ path('app_login') }}" class="btn btn-link">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}